<%- include ('partials/header') %>
<div class="container">
  <h1>Edit movie</h1>

  <form action="/videos/<%=result._id %>/save_edit" method="POST">
    <div class="form-group">
      <input
        type="text"
        name="title"
        class="form-control"
        placeholder="title"
        value="<%=result.title %>"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        name="genre"
        class="form-control"
        placeholder="genre"
        value="<%=result.genre %>"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        name="image"
        class="form-control"
        placeholder="image name"
        value="<%=result.image%>"
      />
    </div>
    <div class="form-group">
      <textarea name="desc" class="form-control" placeholder="description">
<%=result.description %></textarea
      >
    </div>
    <button type="submit" class="btn btn-info">Save</button>
  </form>

  <a href="/">Cancel</a>
</div>

<%- include ('partials/footer') %>
